body{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-animation{
    position: relative;
    width: 310px;
    height: 90px;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button{
    width: 300px;
    height: 80px;
    font-size: 1rem;
    border: none;
    background: #000;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    font-size: 1.3rem;
    background: #333;
}
span.bg{
    width: 320px;
    height: 320px;
    background-image: linear-gradient(45deg, #e74c3c 30%, #f1c40f ,#2ecc71, #3498db, #8e44ad 70%);
    position: absolute;
    animation: circle 10s infinite;
}
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
